.block_deft_venue [data-action="lowerhand"],
.block_deft_venue [data-action="raisehand"],
.block_deft_venue_page .block_deft_venue .btn-info[data-action="join"],
.block_deft_venue [data-action="show"] {
    display: none;
}

.block_deft_venue.btn-info [data-action="join"],
.block_deft_venue_page .block_deft_venue [data-action="show"],
body.block_deft_venue_page:not(.block_deft_raisehand) .block_deft_venue [data-action="raisehand"],
body.block_deft_venue_page.block_deft_raisehand .block_deft_venue [data-action="lowerhand"] {
    display: inline;
}

.block_deft_venue .peer-container .peers {
    display: none;
}

.block_deft_venue .peer-container:hover .peers {
    display: block;
}

[data-region="deft-venue"] span.userinitials,
#page-blocks-deft-venue span.userinitials {
    aspect-ratio: 1 / 1; /* stylelint-disable-line property-no-unknown */
    font-size: 32px;
}

[data-region="deft-view-content"] .chart-area .chart-image {
    height: inherit;
    width: inherit;
}

.block_deft_comments {
    max-height: 600px;
    overflow-y: auto;
}

[data-region="status"] div.col-form-label,
[data-region="status"] div.col.d-flex.col-form-label {
    display: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

[data-region="status"] div.form-group {
    margin-bottom: 0;
}

[data-region="status"] form {
    padding: 10px;
}

[data-region="status"] form.modified {
    background: lightYellow;
}
