{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_deft/taskinfo

    This template renders the tasks manager for deft response block

    Example context (json):
    {
        "type": "text",
        "configdata": {
            "name": "Welcome",
            "content": "hello"
        }
    }
}}
<h5 class="card-title">{{configdata.name}}</h5>
{{ type }}
<div class="task-controls pb-3">
    <form onsubmit="return false;">
    <input type="hidden" name="id" value="{{ id }}" />
    <input type="hidden" name="type" value="{{ type }}" />
    {{# canedit }}
    <button name="action" value="edit" title="{{# str }} edit {{/ str }}" class="icon fa fa-cog border-0"></button>
    <button name="action" value="delete" title="{{# str }} delete {{/ str }}" class="icon fa fa-trash border-0"></button>
    <button name="action" value="move" title="{{# str }} move {{/ str }}" class="icon fa fa-arrows border-0"></button>
    {{/ canedit }}
    </form>
</div>
